{{- define "main" -}}

<article class="article">

  {{ partial "page_header" . }}

  <div class="article-container">

    <div class="article-style">
      {{ .Content }}

      {{ if eq .Params.layout "evento" }}
        <h3>Informação do evento</h3>

        <p>
          <strong>Data:</strong>
          {{ partial "event-date" . }}
        </p>

        {{ with .Params.metadata.event.site }}
          <p><strong>Website:</strong> <a href="{{ .url }}">{{ .title | or .url }}</a></p>
        {{ end }}

        {{ with .Params.metadata.event.location }}
          <p><strong>Local:</strong> {{ . }}</p>
        {{ end }}
      {{ end }}
    </div>

    {{ partial "page_footer" . }}

  </div>
</article>

{{- end -}}
